/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

// fonts
@import url('https://fonts.googleapis.com/css?family=Chewy|Permanent+Marker');

// font family
$font-family-sans-serif: 'Chewy', Arial, sans-serif !default;
$presentation-heading-font: 'Permanent Marker', Times New Roman, serif  !default;

// font size
$presentation-h1-font-size: 2.6em;
$presentation-h2-font-size: 1.7em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.1em;
$presentation-font-size-root: 40px;
$presentation-line-height: 1.0em;

// font color
$presentation-heading-color: #000000 !default;
$theme-grey:#859ab2;
$theme-orange: #FF7F50;

// bg colours 
$body-color: #000000;
$link-color: #98b0cc;
$body-bg: #ffffff;

/*-- scss:rules --*/


// makes colors easier to input

.grey {
  color: $theme-grey;
}

.orange {
  color: $theme-orange;
}


// padding underneath h2 title

h2 {
  padding-bottom: 35px;
}


// when # present it will center

.center {
  text-align: center !important
}

// slide progree and menu button

.reveal .slide-menu-button {
    left: 5px;
    top: 15px;
    padding-left: 10px;
    color: #859ab2;
  }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #859ab2;
  height: 2%;
}

